<h4 class="ui center aligned medium icon header">
  <i class="comment alternate outline icon"></i>
  Chatroom
</h4>

<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui inverted fluid vertical menu chatbox">
      <div class="header item">Online Friends</div>
      <a class="item">Erica</a>
      <a class="item">John</a>
      <a class="item">Eugene</a>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button "Send", class: "ui blue basic button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


