<h4 class="ui center aligned medium icon header">
  <i class="comment alternate outline icon"></i>
  Chatroom
</h4>

<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui inverted fluid vertical menu chatbox">
      <div class="header item">Online Friends</div>
      <a class="item">Erica</a>
      <a class="item">John</a>
      <a class="item">Eugene</a>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header chatbox-header">Chatbox Header</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>: sent a message
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message">
              <i class="bordered blue chevron right icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


