<div class="ui inverted menu">
  <div class="ui container">
      <a class="item">
        Chatroom
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          <input type="hidden" name="account">
          <div class="default text">Account</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="login">Login</div>
            <div class="item" data-value="signup">Sign up</div>
          </div>
        </div>
        <div class="item">
          <div class="ui primary button">Sign up</div>
        </div>
      </div>
    </div>
  </div>
</div>